@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.container {
    padding: 10px;
}

@media (min-sidth: 576px) {
    .container {
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 25px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 30px;
    }
}